@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
    background-color: #FAFBFC;
}
.header__nav{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 289.5px;
    box-shadow: 0px 6px 10px 0px #8181811A;
    background: #FFFFFF;
}
.header__nav--logo{
    font-size: 16px;
    font-weight: 400;
    color: #2C2C2C;
}
.header__nav--ul{
    display: flex;
    gap: 16px;
}
.lis:hover{
    color: #FF8A00;
}
.header__nav--btns{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btn1{
    width: 95px;
    height: 45px;
    color: #FF8A00;
    font-size: 14px;
    font-weight: 400;
    border: none;
}
.btn2{
    width: 85px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    color: #FF8A00;
}
.header__highlight{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8A00;
    width: 1117px;
    height: 240px;
    margin: 0 auto;
}
.header__highlight--alone{
    margin-top: 4px;
    margin-right: 98px;
}
.header__highlight ul{
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #FFFFFF;
    left: 99px;
}
.lis1{
    width: 186px;
    height: 38px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding: 4px 10px 4px 10px;
    background-color: #FFF6E4;
    color: #FF8A00;
}
.header__highlight--img{
    margin-right: 90px;
}
.header__h2{
    width: 177px;
    height: 44px;
    background-color: #FF8A00;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 17px 10px 17px;
    margin-top: 40px;
    margin-left: 78px;
    margin-bottom: 20px;
}
.header__ul{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.lis2{
    width: 166px;
    height: 166px;
    box-shadow: 0px 4px 20px 0px #9F9F9F1A;
    position: relative;
}
.header__ul p{
    position: absolute;
    width: 166px;
    height: 36px;
    background-color: #FFF6E4;
    color: #FF8A00;
    font-size: 16px;
    font-weight: 500;
    top: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    padding-top: 40px;
}
.section h1{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}
.header__search{
    width: 735px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 20px 0px #9F9F9F1A;
    margin: 0 auto;
    margin-bottom: 40px;
}
.header__search--p{
    width: 637px;
    display: flex;
    align-items: center;
    color: #9A9999;
    font-size: 14px;
    font-weight: 400;
    line-height: 16;
    padding-left: 16px;
}
.header__search--p:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}
.header__search--btn{
    width: 98px;
    border: none;
    background-color: #FF8A00;
    color: #FFFFFF;
    padding: 12px 24px 12px 24px;
}
.header__itemlist{
    display: flex;
    margin-bottom: 189px;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}
.header__itemlist--items{
    width: 261px;
    height: 348px;
    box-shadow: 0px 10px 20px 0px #9F9F9F1A;
    padding: 10px;
}
.header__itemlist--items img{
    width: 241px;
    height: 200px;
    margin-bottom: 10px;
}
.text h3{
    font-size: 12px;
    font-weight: 300;
    color: #9C9C9C;
}
.text h2{
    font-size: 16px;
    font-weight: 400;
}
.text p{
    font-size: 12px;
    font-weight: 300;
}
.buy{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.buy p{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.buylogo{
    width: 60px;
    height: 26px;
    background-color: #FFF6E4;
    color: #FF8A00;
}
.buylogo p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FF8A00;
    font-size: 12px;
    font-weight: 300;
}
.buylogo img{
    width: 10px;
    height: 10px;
    margin-top: 8px;
}